{% extends 'base.html' %}{% block title %}Course Data{% endblock %}

{% block content %}
<style>
    .fa-search {
      font-size: 35px;
    }
</style>
<style>
    .header {
      padding: 10px;
      text-align: center;
    }
  </style>
<br><br>
<header class="header">
    <h1>Course Information</h1>
</header>
<div>
<div class="pt-3 pb-3 d-flex align-items-center caption-lower">
    <form class="pt-3 pb-3 d-flex align-items-center caption-lower" method="post" action="{{ url_for('course.search') }}">
        <select id="field" name="field" class="form-select p-2">
            <option value="select">Select Field</option>
            <option value="course">Course</option>
            <option value="name">Course Name</option>
            <option value="college">College</option>
        </select>
        <input id="searchField" type="text" class="p-2 m-2 searchfield" style="width: 600px;" name="user-input" placeholder="Type to search using Course, Course Name, and College">
        <button class="btn-search">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>
</div>
<div class="row">
    <div class="newreg">
        <a href="{{ url_for('course.data_courses_page') }}" class="btn btn-primary">New </a>
    </div>
</div>


<div>
    <div class="row mt-2">
        <table class="table">
            <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Description</th>
                <th>Course Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for course in course %}
                <tr>
                    <td>{{course['course_code']}}</td>
                    <td>{{course['course_name']}}</td>
                    <td>{{course['college']}}</td>
                    <td>
                        <a href = "{{ url_for('course.edit_courses_page', course_code = course.course_code ) }}" ><button  class="btn btn-warning" >Edit</button></a>
                        <a href="{{ url_for('course.course_view_page', course_code = course.course_code) }}" class="btn btn-primary">View Students </a>
                        <button class="btn btn-danger btn-delete" id="{{ course['course_code']}}" onclick="deleteCourse(this.id)">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock content %}