{% extends 'base.html' %}{% block title %}Course Data{% endblock %}

{% block content %}
<div class="row">
    <div class="newreg">
        <a href="{{ url_for('course.data_courses_page') }}" class="btn btn-primary">New </a>
        <div class = "search-container">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>
<div>

<div>
    <div class="row mt-2">
        <table class="table">
            <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Description</th>
                <th>Course Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for course in course %}
                <tr>
                    <td>{{course['course_code']}}</td>
                    <td>{{course['course_name']}}</td>
                    <td>{{course['college']}}</td>
                    <td>
                        <a href = "{{ url_for('course.edit_courses_page', course_code = course.course_code ) }}" ><button  class="btn btn-warning" >Edit</button></a>
                        <button class="btn btn-danger btn-delete" id="{{ course['course_code']}}" onclick="deleteCourse(this.id)">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock content %}