{% extends "base.html" %}

{% block content %}
<form method="POST">
    <h3 align="center">Signup</h3> 
    <div class="form-group">
        <label for="id">ID No.</label>
        <input 
            type="text" 
            class="form-control" 
            id="id" 
            name="id" 
            placeholder="Enter ID No."
        />
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input 
            type="text" 
            class="form-control" 
            id="firstName" 
            name="firstName" 
            placeholder="Enter First Name"
        />
    </div>
    <div class="form-group">
        <label for="name">Last Name</label>
        <input 
            type="text" 
            class="form-control" 
            id="lastName" 
            name="lastName" 
            placeholder="Enter Last Name"
        />
    </div>
    <div class="form-group">
        <label for="course">Course</label>
        <input 
            type="text" 
            class="form-control" 
            id="course" 
            name="course" 
            placeholder="Enter course"
        />
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <input 
            type="number" 
            class="form-control" 
            id="year" 
            name="year" 
            placeholder="Enter year"
        />
    </div>
    <div class="form-group">
        <label for="year">Gender</label>
        <input 
            type="text" 
            class="form-control" 
            id="gender" 
            name="gender" 
            placeholder="Enter gender"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}